<!-- this is the card show page -->
<div class="container show">
    <div class="info">
        <h1 class="text-center cardname"><%= card.card.name %></h1>
        <img class="img" src="<%= card.card.imageUrl %>" alt="<%= card.card.name %>">
    </div>
    <div class="description">
        <p>
            Cost: <%= card.card.manaCost %>
            <br>
            Type: <%= card.card.types %>
            <br>
            Sub Type: <%= card.card.subtypes %>
            <br>
            Rarity: <%= card.card.rarity %>
            <br>
            Text: <%= card.card.text %>
            <br>
            Lore: <%= card.card.flavor %>
            <br>    
        </p>
        <h4>Add to:</h4>
        <% card.card.legalities.forEach(obj => { %> 
            <form method="POST" action="/deck">
            <%= obj.format %>: <%= obj.legality %>
                <input hidden type="text" name="<%= obj.format %>" value="<%= obj.format %>">
                <button class="btn btn-primary" type="submit">Add to <%= obj.format %> deck!</button>
            </form>
            <br>
        <% }) %>
    </div>
</div>
</div>