<!-- this is the card show page -->
<div class="container show">
    <div class="info">
        <h1 class="text-center cardname"><%= card.card.name %></h1>
        <img class="img" src="<%= card.card.imageUrl %>" alt="<%= card.card.name %>">
    </div>
    <div class="description">
        <p>
            Cost: <%= card.card.manaCost %>
            <br>
            Type: <%= card.card.types %>
            <br>
            Sub Type: <%= card.card.subtypes %>
            <br>
            Rarity: <%= card.card.rarity %>
            <br>
            Text: <%= card.card.text %>
            <br>
            Lore: <%= card.card.flavor %>
            <br>
            <% card.card.legalities.forEach(obj => { %> 
                <!-- Need to revise a forEach loop here -->
                <%= obj.legality %>: <%= obj.format %>
                <br>
            <% }) %>

            
        </p>
    </div>
</div>
</div>